{% extends "contenido/base.html" %}

{% block titulo %} CONTACTO {% endblock %}

{% block imagen%}

{% load static%}
{% static 'contenido/images/contacto.jpg' %}

{% endblock%}

{% block sub  %}Contacto {% endblock %}

{% block h3%}Contacto{% endblock%}
{% block small%}Ingresa tus datos para comunicarnos contigo{% endblock%}

{% block contenido %}
	


			<!--Encabezdo -->
			
			
			<!-- /Encabezado-->

			<!-- Formulario -->
			<form class="form-horizontal" action="#" role="form">
	            <div class="panel panel-default">
	                <div class="panel-body">

				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Nombre:</label>
				            <div class="col-sm-10">
				            	<input type="text" class="input">
				            </div>
				        </div>
				        
				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right ">Correo:</label>
				            <div class="col-sm-10">
				            	<input type="text" class="input">
				            </div>
				        </div>

                        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Cursos:</label>
				            <div class="menu-list a">
				            	<select data-placeholder="Elige una carrera..." class="select" tabindex="2">
	                                <option value=""></option> 
	                                <option value="win7">Base de datos</option> 
	                                <option value="win8">Programacion</option> 
	                                <option value="macos">Ciber Seguridad</option>
                                    <option value="macos">Mas</option> 
	                        </select>
				            </div>
				        </div>

				        <div class="form-group">
							<label class="col-sm-2 control-label text-right">Comentarios:</label>
							<div class="col-sm-10">
							<textarea id="w3review" name="w3review" rows="10" cols="5" class="textarea">
								</textarea>
							</div>
				            </div>
				        

						<div class="field has-addons">
							<p class="control">
							  <button class="button">
								<span class="icon is-small">
								  <i class="fas fa-align-left"></i>
								</span>
								<span>Izquierda</span>
							  </button>
							</p>
							<p class="control">
							  <button class="button">
								<span class="icon is-small">
								  <i class="fas fa-align-center"></i>
								</span>
								<span>Centrado</span>
							  </button>
							</p>
							<p class="control">
							  <button class="button">
								<span class="icon is-small">
								  <i class="fas fa-align-right"></i>
								</span>
								<span>Derecha</span>
							  </button>
							</p>
						  </div>

                        <div class="form-actions is-pulled-right">
                        	<button class="button is-primary is-rounded" >Enviar</button>
                        </div>
					</div>
				    </div>
				</div>
			</form>
		<!-- Fin del Formulario -->
    {% endblock %}