{% extends "contenido/base.html" %}

{% block titulo %} Home {% endblock %}

{% block imagen%}

{% load static%}
{% static 'contenido/images/logo_utm.jpg' %}

{% endblock%}

{% block sub  %} Bienvenido {% endblock %}

{% block h3%}Home{% endblock%}
{% block small%}Estas en nuestra nueva pagina web de cursos en la cual podras ver todos los cursos con los que contamos y acceder de manera facil a ellos.{% endblock%}

{% block video %}https://www.youtube.com/embed/duIvODT4LMQ?si=v2pxfBPKhNg40cRd"{% endblock %}

{% block contenido %}	
			
{% endblock %}

